* {
    box-sizing: border-box;
}

body {
    color: white;
    text-align: center;
}

/* margin */
.ml_15 {
    margin-left: 15px;
}
.mt_15 {
    margin-top: 15px;
}
.mr_15 {
    margin-right: 15px;
}
.mb_15 {
    margin-bottom: 15px;
}
.n_ml_45 {
    margin-left: -45px;
}
.n_ml_30 {
    margin-left: -30px;
}
/**************/

/* padding */
.p_0 {
    padding-right: 0;
    padding-left: 0;
}
.pt_15 {
    padding-top: 15px;
}
.pb-15 {
    padding-bottom: 15px;
}
.pr_0 {
    padding-right: 0;
}
.pl_0 {
    padding-left: 0;
}
.pl_45 {
    padding-left: 45px;
}
.pl_30 {
    padding-left: 30px;
}
/***************/

.border_top {
    border-top: 2px solid gray;
    margin-top: 15px;
}
.border_bottom {
    border-bottom: 2px solid gray;
    margin-bottom: 15px;
}
.block1,
.block2,
.block3,
.block4,
.block5,
.six,
.block7,
.block8,
.block9,
.block10,
.block11,
.block12,
.block13 {
    background-color: gray;
}
.block1,
.block2,
.block3,
.block7,
.block10,
.block11 {
    min-height: 150px;
}
.block4 {
    min-height: 350px;
}
.block5,
.block8,
.block9 {
    min-height: 250px;
}
.block12,
.block13 {
    min-height: 100px;
}
.six {
    width: 25%;
    min-width: 150px;
    min-height: 150px;
}
.block8,
.block9 {
    width: 100%;
}
.d_flex {
    display: flex;
}
.f_wrap_wrap {
    flex-wrap: wrap;
}
.mr_ml_block5 {
    /*margin-right: -30px;*/
    margin-left: 15px;
}
.f_dir_col {
    flex-direction: column;
}
.f_dir_row {
    flex-direction: row;
}
.jc_sb {
    justify-content: space-between;
}

@media (max-width: 1200px) {
    .container_md {
        max-width: 1140px;
        display: flex !important;
        flex-wrap: wrap;
        flex-basis: 100%;
        padding-left: 15px;
        padding-right: 15px;
    }
    .m_md_0 {
        margin: 0;
    }
    .ml_esm_0 {
        margin-left: 0;
    }
    .mr_md_0 {
        margin-right: 0;
    }
    .mr_md_15 {
        margin-right: 15px;
    }
    .nml_md_15 {
        margin-left: -15px;
    }
    .mt_md_15 {
        margin-top: 15px;
    }
    .mb_md_15 {
        margin-bottom: 15px;
    }
    .p_esm_0 {
        padding: 0;
    }
    .pl_esm_15 {
        padding-left: 15px;
    }
    .col_md_3 {
        max-width: 35%;
        flex: 1 0 25%;
    }
    .col_md_4 {
        max-width: 40%;
        flex: 1 0 35%;
    }
    .col_md_6 {
        max-width: 50%;
        flex: 1 0 45%
    }
    .col_md_8 {
        max-width: 60%;
        flex: 0 0 60%;
    }
    .col_md_12 {
        flex: 0 0 100%;
        max-width: 100%;
    }
    .container_rev_md {
        max-width: 1140px;
        display: flex !important;
        flex-direction: column-reverse;
        flex-wrap: wrap;
    }
    .block6_md {
        display: flex !important;
        padding: 0;
        margin: 0;
    }
}

@media (max-width: 390px) {
    .container_esm {
        max-width: 330px;
        display: flex !important;
        flex-wrap: wrap;
        flex-basis: 100%;
    }
    .m_esm_0 {
        margin: 0;
    }
    .ml_esm_0 {
        margin-left: 0;
    }
    .mr_esm_0 {
        margin-right: 0;
    }
    .mr_esm_15 {
        margin-right: 15px;
    }
    .nml_esm_15 {
        margin-left: -15px;
    }
    .mt_esm_15 {
        margin-top: 15px;
    }
    .mb_esm_15 {
        margin-bottom: 15px;
    }
    .p_esm_0 {
        padding: 0;
    }
    .pl_esm_15 {
        padding-left: 15px;
    }
    .col_esm_6 {
        max-width: 50%;
        min-height: 150px;
        flex: 0 0 50%;
    }
    .col_esm_12 {
        flex: 0 0 100%;
        max-width: 100%;
    }
    .container_rev_esm {
        max-width: 330px;
        display: flex !important;
        flex-direction: column-reverse;
        flex-wrap: wrap;
    }
    .block6_esm {
        display: flex !important;
        /*padding: 0;*/
        margin: 0;
    }
}